html {
    color: #FFFFFF;
    text-align: center;
    background-image: url(../img/herobanner.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 25%;
}

body {
    margin: 0;
}

.top-div {
    margin-top: 20%;
}

.header-one {
    font-family: 'Merriweather', serif;
	font-size: 2em;
}

.header-two {
	font-family: 'Merriweather', serif;
	font-size: 5em;
}

.open-close {
    width: 33%;
    margin-left: 33%;
}

.open-close li {
    list-style-type: none;
    display: inline;
}

.open-close li p {
    font-family: 'Roboto', sans-serif;
    list-style-type: none;
    display: inline;
    padding-right: 50px;
} 

.day-list li{
    list-style-type: none;
    display: inline;
    padding: 15px 15px;
} 

.day-list li button {
    text-decoration: underline;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    color: #FFFFFF;
}

.day-list li button:focus {
    outline: none;
}

.day-list li button:hover {
    outline: #fff solid thin;
}

.day-list li button:active {
    transform: translateY(1px);
}

.day-list li button.selected {
    font-weight: 700;
}

.bottom-div {
    padding-bottom: 120px;
}

.bottom-div button {
    width: 15em;
    height: 3em;
    color: #FFFFFF;
    background-color: transparent;
    background-repeat: no-repeat;
    border: 2px solid #FFFFFF;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
}

.three button:focus {
    outline: none;    
}

.open-close .open-now.hidden {
    display: none;
}

@media(max-width:  992px){
    .open-close {
        width: 50%;
        margin-left: 23%;
    }
}
@media(max-width:  768px){
    html {
        height: 100%;
    }
    .open-close {
        width: 80%;
        margin-left: 7%;
    }
    .day-list {
        padding:0;
        margin-right: 40px;
        margin-left:23%;
        width: 50%;
    }
    .day-list li button {
        width: 100%;
        font-size: 20px;
    }
    .bottom-div button {
        width: 50%;
    }
}

@media(max-width:  600px){
    .day-list {
        margin-left:22%;
    }
}
@media(max-width:  500px){
    .day-list {
        margin-left:21%;
    }
}
